body {
    line-height: 140%;
    margin: 50px;
}

pre > code {
    font-size: 120%;
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
    word-wrap: break-word;
}
